*{
	padding: 0;
	margin: 0;
}

.main{
	background-image: url("com.jpg");
	background-position: center;
    background-size: cover;
    height: 100vh;
}

.text
{
	padding-top: 120px;
	padding-left: 500px;
}


.search{
    width: 330px;
    margin-left: 400px;
}

.srch{
    font-family: 'Times New Roman';
    width: 600px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
 
    color: #000000;
    border-right: none;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
}
.btn:hover{
    color: #000;
}

